<div>
  <div class="m-auto flex min-h-full max-w-lg flex-col justify-center">
    <div class="">
      <div class="grid grid-cols-1 gap-x-6 gap-y-8">
        <div class="col-span-1">
          <form action="/friends/search" method="POST">
            <label for="searchUser" class="block font-bold text-md leading-6 text-gray-900">Browse users
              <div class="mt-2 flex items-center justify-center">
                <input id="searchBody" name="searchBody" required maxlength="150" minlength="3" placeholder='Search...' class="resize-none block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-pink-950 sm:text-sm sm:leading-6">
              </input>
              <button class="border px-2 py-1 rounded-lg" type="submit">Search</button>
            </div>
            </label>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>