
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <% if (user) {%>
    <%- include('header') , {urlParam: '/'} %>
    <h1 class="w-full text-center text-2xl">Bienvenido de vuelta, @<%= user.username %>!</h1>
  <% } else { %>
    <%- include('login-form') %>
  <%}%>
</body>
</html>


