
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notas.app</title>
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <% if (user) {%>
    <%- include('header')%>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <h1 class="w-full text-start text-xl">Hola, @<%= user.username %>!</h1>
      <h1 class="mt-2 w-full text-start text-md">Mirá las últimas notas:</h1>
      <% Array.from(notes).forEach(function (note) { %>
        <hr class="lg:max-w-md m-auto mt-5">
        <%- include('note' , { note: note , formatDate: formatDate }) %>
    </div>
  <% }); %>
  <% } else { %>
    <%- include('login-form') %>
  <%}%>
  <script type="text/javascript">
    const likeNoteButtons = document.getElementsByClassName('like-note-button');
    for(let button of likeNoteButtons){
      button.addEventListener('click', ()=>{
        button.classList.toggle('bg-slate-200');
        button.classList.toggle('shadow-sm');
        button.classList.toggle('shadow-lg');
        button.textContent = (button.textContent === '🖤')? '🤍' : '🖤';
      });
    };
    const favNoteButtons = document.getElementsByClassName('fav-note-button');
    for(let button of favNoteButtons){
      button.addEventListener('click', ()=>{
        button.classList.toggle('bg-slate-200');
        button.classList.toggle('shadow-sm');
        button.classList.toggle('shadow-lg');
        button.textContent = (button.textContent === '⭐')? '✨': '⭐';
      });
    };
  </script>
</body>
</html>


