@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/forms';

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #363636;
}
::-webkit-scrollbar-thumb:active {
  background: #212121;
}
::-webkit-scrollbar-track {
  background: #b5b5b5;
  border: 0px none #b5b5b5;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #b5b5b5;
}
::-webkit-scrollbar-track:active {
  background: #b5b5b5;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

:root{
  scroll-behavior: smooth;
}